@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat-regular.ttf);
}
@font-face {
    font-family: 'Mercy';
    src: url(../fonts/mercy.ttf);
}
@font-face {
    font-family: 'Avenir';
    src: url(../fonts/avenir.otf);
}