body {
    padding: 0;
    margin: 0;
    background: darkgray;
}
.preloader {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: black;
        transition: 1s;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background: black;
        transition: 1s;
    }
    .loader {
        z-index: 100;
        position: absolute;
        top: calc(50vh - 25px);
        right: calc(50vw - 25px);
        width: 50px;
        height: 50px;
        border-top: 5px solid white;
        border-radius: 50px;
        animation: spin 1s infinite;
        @keyframes spin {
            from {
                transform: rotate(0deg);
                border-color: white;
            }
            to {
                transform: rotate(360deg);
                border-color: black;
            }
        }
    }
}
.preloader.complete {
    &::before {
        left: -50%;
    }
    &::after {
        right: -50%;
    }
}
.end {
    display: none;
}

#app {
    header {
        height: 10vh;
        //background: black;
        .container {
            width: 95%;
            margin: auto;
            .logo {
                img {
                    height: 9vh;
                }
            }
        }
    }
}