@import 'fonts';
$gap-news: 50px;


body {
    padding: 0;
    margin: 0;
    background:black;
}
.preloader {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: white;
        transition: 1s;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background: white;
        transition: 1s;
    }
    .loader {
        z-index: 100;
        position: absolute;
        top: calc(50vh - 25px);
        right: calc(50vw - 25px);
        width: 50px;
        height: 50px;
        border-top: 5px solid white;
        border-radius: 50px;
        animation: spin 1s infinite;
        @keyframes spin {
            from {
                transform: rotate(0deg);
                border-color: white;
            }
            to {
                transform: rotate(360deg);
                border-color: black;
            }
        }
    }
}
.preloader.complete {
    &::before {
        left: -50%;
    }
    &::after {
        right: -50%;
    }
}
.end {
    display: none;
} 

#app-home {
    header {
        z-index: 10;
        position: fixed;
        top: 0;
        .logo {
            background: white;
            //position: absolute;
            float: left;
            //left: 0;
            //top: 0;
            img {
                width: 8vw;
                padding: 10px 20px;
                &:nth-child(1) {
                    opacity: 0.6;
                    filter: blur(8px) grayscale(1);
                    position: absolute;
                }
                &:nth-child(2) {
                    filter: contrast(200%);
                    transition: .3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .menu {
            position: fixed;
            right: 0;
            top: 0;
            .active {
                transform: translateX(-150px);
            }
            .burger-toggle {
                position: relative;
                font-size: 2em;
                background: white;
                padding: 5px;
                text-shadow: 2px 2px 5px rgba(0,0,0,0.369);
                cursor: pointer;
            }
            nav {
                background: white;
                position: absolute;
                transform: translateX(50px);
                width: 250px;
                box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
                transition: 0.3s ease-in-out;
                border-left: 5px solid yellow;
                box-sizing: border-box;
                ul {
                    padding: 0 0 0 10px;
                    li {
                        list-style: none;
                        padding: 5px 0;
                        a {
                            color: black;
                            text-decoration: none;
                            text-transform: uppercase;
                            font:1.5em 'Avenir';
                            padding: 5px 8px;
                            border-bottom: 2px solid transparent;
                            transition: 0.2s linear;
                            &:hover {
                                border-bottom: 2px solid black;
                            }
                        }
                    }
                }
            }
        }
    }
    #slide-bg {
        z-index: 1;
        img{
            position:absolute;
            top:0;
            display:none;
            width:100vw;
            height: 100vh;
            margin: 0;
            object-fit:cover;
            filter: blur(3px);
        }
    }
    #content {
        position: absolute;
        right: 15vw;
        width: 31vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        .content-title {
            font: 3.5em 'Mercy';
            color: white;
            text-transform: uppercase;
            text-align: center;
            padding: 30px 0 10px 0;
            letter-spacing: 15px;
            margin-right: -15px;
            font-weight: lighter;
            @media screen and(max-width: 1400px) {
                font-size: 2.2em;
            }
        }
        hr {
            width: calc(100vw - 72vw);
            height: 2px;
            background: white;
            margin: 0 auto;
            position: static;
        }
        .title {
            color: white;
            padding: 0 20px;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            &::before {
                content: 'Cool';
                font-size: 8.5em;
                display: block;
                @media screen and(max-width: 1400px) {
                    font-size: 6.5em;                    
                }
            }
            &::after {
                content: 'Star';
                position: relative;
                bottom: 30px;
                display: block;
                font-size: 12em;
                margin-bottom: -45px;
                @media screen and(max-width: 1400px) {
                    font-size: 8.3em;
                }
            }
        }
        .news {
            h2 {
                font: 2.5em 'Montserrat';
                font-weight: bold;
                margin: 5px 0 10px 30px;
                color: yellow;
                @media screen and(max-width: 1400px) {
                    margin: 5px 0 10px 20px;
                    font-size: 2em;
                }
            }
            .news-grid {
                display: grid;
                grid-template-areas: 
                    "p1 p2"
                    "p3 p4";
                height: 40vh;
                width: 28vw;
                margin: auto;
                grid-gap: $gap-news;
                //THE IMAGE INSIDE POSTS SHOULD BE ""calc(28vw/2 - 10px);""
            }
            .post-1 {
                grid-area: p1;
                width: calc(28vw/2 - $gap-news);
                .post-title {
                    font: 1.2em 'Montserrat';
                    background:white;
                    color: black;
                    padding: 2px 0 2px 5px;
                    @media screen and(max-width: 1400px) {
                        padding: 0 0 0 3px;
                    }
                }
            }
            .post-2 {
                grid-area: p2;
                width: calc(28vw/2 - $gap-news);
                .post-title {
                    font: 1.2em 'Montserrat';
                    background:white;
                    color: black;
                    padding: 2px 0 2px 5px;
                    @media screen and(max-width: 1400px) {
                        padding: 0 0 0 3px;
                    }
                }
            }
            .post-3 {
                grid-area: p3;
                width: calc(28vw/2 - $gap-news);
                .post-title {
                    font: 1.2em 'Montserrat';
                    background:white;
                    color: black;
                    padding: 2px 0 2px 5px;
                    @media screen and(max-width: 1400px) {
                        padding: 0 0 0 3px;
                    }
                }
            }
            .post-4 {
                grid-area: p4;
                width: calc(28vw/2 - $gap-news);
                .post-title {
                    font: 1.2em 'Montserrat';
                    background:white;
                    color: black;
                    padding: 2px 0 2px 5px;
                    @media screen and(max-width: 1400px) {
                        padding: 0 0 0 3px;
                    }
                }
            }
        }
    }
}