@import 'fonts';
$gap-news: 40px;

// LIMIT OF 100 CHARACTERS IN POST-DESCRIPTION + the three dots wich makes it 103


body {
    padding: 0;
    margin: 0;
    background:black;
}
.preloader {
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    transition: 1s;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        width: 50%;
        height: 100%;
        background: white;
        transition: 1s;
    }
    &::after {
        content: '';
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background: white;
        transition: 1s;
    }
    .loader {
        z-index: 100;
        position: absolute;
        top: calc(50vh - 25px);
        right: calc(50vw - 25px);
        width: 50px;
        height: 50px;
        border-top: 5px solid white;
        border-radius: 50px;
        animation: spin 1s infinite;
        @keyframes spin {
            from {
                transform: rotate(0deg);
                border-color: white;
            }
            to {
                transform: rotate(360deg);
                border-color: black;
            }
        }
    }
    .star {
        font-size: 4em;
        font-weight: bold;
        width: 50px;
        height: 50px;
        color: yellow;
        animation: rotate  1s infinite;
        @keyframes rotate {
            0% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.2);
            }
            100% {
                transform: scale(1);
            }
        }
    }
}
.preloader.complete {
    &::before {
        left: -50%;
    }
    &::after {
        right: -50%;
    }
}
.end {
    display: none;
} 

#app-home {
    header {
        z-index: 10;
        position: fixed;
        top: 0;
        .logo {
            background: white;
            //position: absolute;
            float: left;
            //left: 0;
            //top: 0;
            img {
                width: 8vw;
                padding: 10px 20px;
                &:nth-child(1) {
                    opacity: 0.6;
                    filter: blur(8px) grayscale(1);
                    position: absolute;
                }
                &:nth-child(2) {
                    filter: contrast(200%);
                    transition: .3s;
                    &:hover {
                        transform: scale(1.1);
                    }
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
        .menu {
            position: fixed;
            right: 0;
            top: 0;
            .active {
                transform: translateX(-150px);
            }
            .burger-toggle {
                position: relative;
                font-size: 2em;
                background: white;
                padding: 5px;
                text-shadow: 2px 2px 5px rgba(0,0,0,0.369);
                cursor: pointer;
            }
            nav {
                background: white;
                position: absolute;
                transform: translateX(50px);
                width: 250px;
                box-shadow: 3px 3px 5px rgba(0,0,0,0.4);
                transition: 0.3s ease-in-out;
                border-left: 5px solid yellow;
                box-sizing: border-box;
                ul {
                    padding: 0 0 0 10px;
                    li {
                        list-style: none;
                        padding: 5px 0;
                        a {
                            color: black;
                            text-decoration: none;
                            text-transform: uppercase;
                            font:1.5em 'Avenir';
                            padding: 5px 8px;
                            border-bottom: 2px solid transparent;
                            transition: 0.2s linear;
                            &:hover {
                                border-bottom: 2px solid black;
                            }
                        }
                    }
                }
            }
        }
    }
    #slide-bg {
        z-index: 1;
        img{
            position:absolute;
            top:0;
            display:none;
            width:100vw;
            height: 100vh;
            margin: 0;
            object-fit:cover;
            filter: blur(3px);
        }
    }
    #content {
        position: absolute;
        right: 15vw;
        width: 31vw;
        height: 100vh;
        background: rgba(0,0,0,0.7);
        .content-title {
            font: 3.5em 'Mercy';
            color: white;
            text-transform: uppercase;
            text-align: center;
            padding: 30px 0 10px 0;
            letter-spacing: 15px;
            margin-right: -15px;
            font-weight: lighter;
            @media screen and(max-width: 1400px) {
                font-size: 2.2em;
            }
        }
        hr {
            width: calc(100vw - 72vw);
            height: 2px;
            background: white;
            margin: 0 auto;
            position: static;
        }
        .title {
            color: white;
            padding: 0 20px;
            font-family: 'Montserrat';
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 3px;
            &::before {
                content: 'Cool';
                font-size: 8.5em;
                display: block;
                @media screen and(max-width: 1400px) {
                    font-size: 6.5em;                    
                }
            }
            &::after {
                content: 'Star';
                position: relative;
                bottom: 30px;
                display: block;
                font-size: 12em;
                margin-bottom: -45px;
                @media screen and(max-width: 1400px) {
                    font-size: 8.3em;
                }
            }
        }
        .news {
            h2 {
                font: 2.5em 'Montserrat';
                font-weight: bold;
                margin: 5px 0 10px 30px;
                color: yellow;
                @media screen and(max-width: 1400px) {
                    margin: 5px 0 10px 20px;
                    font-size: 2em;
                }
            }
            .news-grid {
                display: grid;
                grid-template-areas: 
                    "p1 p2"
                    "p3 p4";
                height: 42vh;
                width: 28vw;
                margin: auto;
                grid-gap: $gap-news;
                overflow: scroll;
                overflow-x: hidden;
                &::-webkit-scrollbar{
                    width:10px;
                }
                &::-webkit-scrollbar-track {
                    background: transparent;
                }
                &::-webkit-scrollbar-thumb {
                    background: yellow;
                    border-radius: 30px;
                    &:hover {
                        background: white;
                    }
                }
                @media screen and (max-width: 1920px) {
                    height: 45vh;
                }
                @media screen and (max-width: 1400px) {
                    height: 42vh;
                }
                @media screen and (max-width: 1300px) {
                    grid-template-areas: 
                        "p1"
                        "p2"
                        "p3"
                        "p4";
                    height: 57vh;
                }

                //THE IMAGE INSIDE POSTS SHOULD BE ""calc(28vw/2 - 10px);""
            }
            .one {
                grid-area: p1;
                width: calc(28vw/2 - $gap-news);
                .post-title {
                    
                }
                .post-thumbnail {
                    background: url('../img/test.jpg') no-repeat;
                }
            }
            .two {
                grid-area: p2;
            }
            .three {
                grid-area: p3;
            }
            .four {
                grid-area: p4;
            }
            .post {
                .post-title {
                    font: 1.2em 'Montserrat';
                    background:white;
                    color: black;
                    padding: 2px 0 2px 5px;
                    @media screen and(max-width: 1400px) {
                        padding: 0 0 0 3px;
                    }
                }
                .post-thumbnail {
                    background: url('../img/test.jpg') no-repeat;
                    background-size: cover;
                    height: 100px;
                    @media screen and(max-width: 1300px) {
                        height: 150px;
                    }
                }
                .post-description {
                    color: white;
                    font: 0.9em 'Avenir';
                    padding-bottom: 0px;
                }
                .post-date {
                    font: 1em 'Avenir';
                    font-weight: bold;
                    color: white;
                    letter-spacing: 1px;
                    display: inline-block;
                    @media (max-width: 1400px) and (min-width: 1300px) {
                        font-size: 0.8em;
                    }
                }
                .post-check {
                    float: right;
                    margin-right: 5px;
                    a {
                        text-decoration: none;
                        font: 1em 'Montserrat';
                        color: white;
                        background: black;
                        padding: 1px 8px;
                        border: 2px solid yellow;
                        border-radius: 30px;
                        transition: .2s;
                        &:hover {
                            background:white;
                            color: black;
                        }
                        @media (max-width: 1400px) and (min-width: 1300px) {
                            font-size: 0.8em;
                        }
                    }
                }
            }
        }
    }
    .social {
        position: absolute;
        bottom: 0;
        right: 0;
        ul {
            margin: 0px;
            padding: 0 0 15px 0;
            li {
                list-style: none;
                a {
                    padding: 15px;
                    background: white;
                    color: black;
                    font-size: 2.369em;
                    text-shadow: 1px 1px 5px gray;
                    transition: .2s;
                    &:hover {
                        text-shadow: 2px 2px 5px black;
                    }
                    i {
                        
                    }
                }
            }
        }
    }
    .go-gallery {
        position: absolute;
        left: 0;
        top: 66.9vh;
        a {
            text-decoration: none;
            text-transform: uppercase;
            color: white;
            background: black;
            font: 4em 'Montserrat';
            padding: 5px 10px;
            border: 5px solid yellow;
            border-left: 0px;
            letter-spacing: 3px;
            transition: .2s;
            &:hover {
                background: white;
                color: black;
                border-color: black;
            }
            @media screen and (max-width: 1400px) {
                font-size: 3.5em;
            }
        }
    }
}